.sidebar {
    width     : 100%;
    margin-top: 20px;
}

.sidebarList {
    display: flex;
    width  : 100%;
}

.sidebarList a {
    text-decoration: none;
}

.sidebarListItem {
    text-transform     : uppercase;
    color              : #111111;
    padding            : 5px 15px;
    margin-right       : 20px;
    list-style-type    : none;
    font-size          : 14px;
    font-family        : 'Inter', Arial, sans-serif;
    line-height        : 1.55;
    font-weight        : 400;
    border-width       : 1px;
    border-radius      : 30px;
    background-position: center center;
    border-color       : #cfcfcf;
    border-style       : solid;
    transition         : background-color 0s ease-in-out, color 0s ease-in-out, border-color 0s ease-in-out;
}

.active {
    border-color: #707070;
    color       : #111111;
}